$dark: #040404;
$white: #fff;
$darkwhite: darken($white, 50%);

@mixin sm {
    @media(min-width: 411px) {
      @content;
    }
  }
  @mixin md {
    @media(min-width: 768px) {
      @content;
    }
  }
  @mixin ipad {
    @media(min-width: 1024px) {
      @content;
    }
  }
  @mixin lg {
    @media(min-width: 1200px) {
      @content;
    }
  }
  @mixin xl {
    @media(min-width: 1301px) {
      @content;
    }
  }

  @mixin transit {
    transition: all .5s ease-in;
  }

    
